# Files related to development only
.vscode
.DS_Store
node_modules
scripts/ressources

# Configuration file for production and test env, with all private keys
# production.env.js
# test.env.js

# Ignore certificates and cryptographic keys
# *.pem
# *.key
# *.cert
# *.p8
# *.p12